* {
    margin: 0;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    
}
.container {
    background-image: url(../Images/background@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1300px;
    margin: 0 auto;
} 
@media screen and  (max-width : 640px) {
    .container {
        width: 100%;
        height: 1050px;
        margin: 0;
    }
}
.top-icon {
    /* position: relative;
    left: 4%;
    top: 3%; */
    margin-left: 100px;
    padding-top: 50px;
}
@media screen and  (max-width : 640px) {
    .top-icon {
        margin-left: 20px;
        padding-top: 10px;
    }
}
img {
    height: 30px;
    width: 100px;
}
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading > p {
    font-size: 4em;
    font-weight: 600;
    text-align: center;
    width: 50%;
}
@media screen and  (max-width : 640px) {
    .heading {
        padding-top: 20px;
    }
    .heading > p {
        font-size: 2em;
        font-weight: 500;
        text-align: center;
        width: 80%;
    }
}
.sub-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.sub-heading > p {
    font-size: 2em;
    font-weight: 400;
    width: 45%;
    text-align: center;
}
@media screen and  (max-width : 640px) {
    .sub-heading > p {
        font-size: 1em;
        font-weight: 400;
        width: 100%;
    }
}
.body-text {
    font-size: 0.875em;
    font-weight: 400;
    color: whitesmoke;
    padding-bottom: 3px;
    padding-left: 3px;
}
.placeholder-text {
    font-size: 1em;
    font-weight: 500;
    color: #040509;
    padding-left: 15px;
}
.input-box-width {
    width: 90%;
    height: 60px;
    border: none;
    border-radius: 20px;
}
@media screen and  (max-width : 640px) {
    .input-box-width {
        width: 95%;
    }
}
.textarea-width {
    width: 93.8%;
    height: 250px;
    border: none;
    border-radius: 15px;
}
@media screen and  (max-width : 640px) {
    .textarea-width {
        width: 95%;
    }
}
.textarea-text {
    font-size: 1em;
    font-weight: 500;
    color: #040509;
    padding-top: 20px;
    padding-left: 20px;
}
.input-container-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}
@media screen and  (max-width : 640px) {
    .input-container-box {
        padding-top: 20px;
    }
}
.input-container {
    border: 2px solid transparent;
    border-radius: 25px;
    width: 50%;
    height: 600px;
    background: linear-gradient(135deg, #FFFFFF33, #FFFFFF33);
    backdrop-filter: blur(6px);
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.15);
}
@media screen and  (max-width : 640px) {
    .input-container {
        border-radius: 25px;
        width: 70%;
        height: 750px;
    }
}
button {
    width: 96.6%;
    height: 55px;
    border: none;
    border-radius: 15px;
    background-color: #FFFFFF;
}
button:hover {
    background-color: #ded8d8;
}
button > p {
    font-size: 1.25em;
    font-weight: 600;
    color: #4036A9;
}
@media screen and  (max-width : 640px) {
    button {
        width: 100%;
    }
}
.input-1 { 
    grid-area: name;
    width: 100%;
}
.input-2 {
    grid-area: email;
}
.input-3 {
    grid-area: size;
} 
.input-4 {
    grid-area: subject;
}
.input-5 {
    grid-area: message;
}
.button {
    grid-area: button;
}
.input-container {
    display: grid;
    grid-template-areas: 
    "name email"
    "size subject"
    "message message"
    "button  button";
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
@media screen and  (min-width : 640px) and (max-width : 1000px) {
    .input-container {
        padding-right: 15px;
    }
    .input-container-box  {
        padding-top: 40px;
    }
    button {
        width: 98%;
    }
}
@media screen and  (max-width : 640px) {
    .input-container {
    display: grid;
    grid-template-areas: 
    "name name"
    "email email"
    "size size"
    "subject subject"
    "message message"
    "button button";
    padding-right: 30px;
    padding-left: 30px;
}
}